<div class="container">
    <div class="card-table">
        <div class="card-table-header d-flex justify-content-between py-3">
            <h2>Product Form</h2>
            <button  type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#newProduct"><i class="bi bi-plus-lg"></i> Add new product</button>
        </div>

        <div class="table-responsive">
                <table class="table table-borderless">
                    <thead class="bg-success">
                        <tr>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">No</div></th>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">Product Image</div></th>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">Product Name</div></th>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">Descriptiond</div></th>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">Price</div></th>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">Quantity</div></th>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">remove</div></th>
                            <th scope="col" class="border-0 bg-success"><div class="py-2 text-uppercase">Edit</div></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products;let i= index">
                            <td class="border-0 align-middle">{{i+1}}</td>
                            <td class="border-0 align-middle"><img class="img-fluid rounded shadow-sm" style="width: 100px;" src="{{product.picture}}" alt=""></td>
                            <td class="border-0 align-middle">{{product.name}}</td>
                            <td class="des border-0 align-middle">{{product.description}}</td>
                            <td class="border-0 align-middle"><strong>{{product.price}}</strong></td>
                            <td class="border-0 align-middle">{{product.quantity}}</td>
                            <td class="border-0 align-middle"><button  (click)="delete(product)" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></button></td>
                            <td  class="border-0 align-middle"><button (click)="edit(product)"  class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editProduct"><i class="bi bi-pen-fill"></i></button></td>
                        </tr>


                    </tbody>
                </table>

        </div>
   </div>
</div>

  <!-- Modal new Product -->
  <div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EditProduct</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editForm">
                <div class="form-group">
                  <div class="err alert alert-danger" *ngIf="editForm.controls['name'].errors?.['required'] && editForm.controls['name'].touched && editForm.controls['name'].dirty">
                    Name Is Required
                  </div>

                  <div class="err alert alert-danger" *ngIf="editForm.controls['name'].errors?.['minlength'] && editForm.controls['name'].touched && editForm.controls['name'].dirty">
                    Minimum Length is 4
                  </div>
                    <label  label for="exampleInputEmail1">Name</label>
                    <input formControlName="name" [(ngModel)]="editModel.name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter product name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <textarea formControlName="description" [(ngModel)]="editModel.description" class="form-control" id="Description" placeholder="Enter description"></textarea>
                </div>
                <div class="form-group">
                  <div class="err alert alert-danger" *ngIf="editForm.controls['price'].errors?.['required'] && editForm.controls['price'].touched && editForm.controls['price'].dirty">
                    Price Is Required
                  </div>

                  <div class="err alert alert-danger" *ngIf="editForm.controls['price'].errors?.['min'] && editForm.controls['price'].touched && editForm.controls['price'].dirty">
                    Minimum Price is 1 L.E
                  </div>
                    <label for="exampleInputPassword1">Price</label>
                    <input min="1" formControlName="price" [(ngModel)]="editModel.price" type="number" class="form-control" id="price" placeholder="Enter price EGP">
                </div>
                <div class="form-group">
                  <div class="err alert alert-danger" *ngIf="editForm.controls['discount'].errors?.['required'] && editForm.controls['discount'].touched && editForm.controls['discount'].dirty">
                    Discount Is Required
                  </div>

                  <div class="err alert alert-danger" *ngIf="editForm.controls['discount'].errors?.['min'] && editForm.controls['discount'].touched && editForm.controls['discount'].dirty">
                    Minimum Discount is 0 %
                  </div>
                    <label for="exampleInputPassword1">Discount</label>
                    <input formControlName="discount" [(ngModel)]="editModel.discount" type="number" class="form-control" id="discount" placeholder="Enter Discount%">
                </div>
                <div class="form-group">
                  <div class="err alert alert-danger" *ngIf="editForm.controls['quantity'].errors?.['required'] && editForm.controls['quantity'].touched && editForm.controls['quantity'].dirty">
                    Quantity Is Required
                  </div>

                  <div class="err alert alert-danger" *ngIf="editForm.controls['quantity'].errors?.['min'] && editForm.controls['quantity'].touched && editForm.controls['quantity'].dirty">
                    Minimum Quantity is 1 unit
                  </div>
                    <label for="exampleInputPassword1">Quantity</label>
                    <input formControlName="quantity" [(ngModel)]="editModel.quantity" type="number" class="form-control" id="exampleInputPassword1" placeholder="0">
                </div>
                <div class="form-group">


                    <label for="exampleInputPassword1">Categories</label>

                    <select  formControlName="category" [(ngModel)]="editModel.category"class="form-select"  name="categories" id="categories">
                        <option disabled selected value > -- Select Category -- </option>

                        <option value=0>Health</option>
                        <option value=1>Home</option>
                        <option value=2>Sporting</option>
                        <option value=3>Children</option>
                        <option value=4>Style</option>
                        <option value=5>Other</option>
                    </select>
                </div>
                <div class="form-group">
                  <div class="err alert alert-danger" *ngIf="editForm.controls['picture'].errors?.['required'] && editForm.controls['picture'].touched && editForm.controls['picture'].dirty">
                    Picture Is Required
                  </div>
                    <label for="exampleInputPassword1">Image URL</label>
                    <input formControlName="picture"  [ngModel]="editModel.picture" type="text" class="form-control" id="exampleInput1" placeholder="Enter Image URL">
                </div>

            </form>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="update()" type="button" class="btn btn-primary"><i class="bi bi-pen-fill"></i> Edit</button>

        </div>
      </div>
    </div>
  </div>
   <!-- Modal Edit Product -->
   <div class="modal fade" id="newProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm">
            <div class="form-group">
              <div class="err alert alert-danger" *ngIf="addForm.controls['name'].errors?.['required'] && addForm.controls['name'].touched && addForm.controls['name'].dirty">
                Name Is Required
              </div>

              <div class="err alert alert-danger" *ngIf="addForm.controls['name'].errors?.['minlength'] && addForm.controls['name'].touched && addForm.controls['name'].dirty">
                Minimum Length is 4
              </div>
                <label  label for="exampleInputEmail1">Name</label>
                <input formControlName="name"  type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter product name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea formControlName="description"  class="form-control" id="Description" placeholder="Enter description"></textarea>
            </div>
            <div class="form-group">
              <div class="err alert alert-danger" *ngIf="addForm.controls['price'].errors?.['required'] && addForm.controls['price'].touched && addForm.controls['price'].dirty">
                Price Is Required
              </div>

              <div class="err alert alert-danger" *ngIf="addForm.controls['price'].errors?.['min'] && addForm.controls['price'].touched && addForm.controls['price'].dirty">
                Minimum Price is 1 L.E
              </div>
                <label for="exampleInputPassword1">Price</label>
                <input min="1" formControlName="price"  type="number" class="form-control" id="price" placeholder="Enter price EGP">
            </div>
            <div class="form-group">
              <div class="err alert alert-danger" *ngIf="addForm.controls['discount'].errors?.['required'] && addForm.controls['discount'].touched && addForm.controls['discount'].dirty">
                Discount Is Required
              </div>

              <div class="err alert alert-danger" *ngIf="addForm.controls['discount'].errors?.['min'] && addForm.controls['discount'].touched && addForm.controls['discount'].dirty">
                Minimum Discount is 0 %
              </div>
                <label for="exampleInputPassword1">Discount</label>
                <input formControlName="discount"  type="number" class="form-control" id="discount" placeholder="Enter Discount%">
            </div>
            <div class="form-group">
              <div class="err alert alert-danger" *ngIf="addForm.controls['quantity'].errors?.['required'] && addForm.controls['quantity'].touched && addForm.controls['quantity'].dirty">
                Quantity Is Required
              </div>

              <div class="err alert alert-danger" *ngIf="addForm.controls['quantity'].errors?.['min'] && addForm.controls['quantity'].touched && addForm.controls['quantity'].dirty">
                Minimum Quantity is 1 unit
              </div>
                <label for="exampleInputPassword1">Quantity</label>
                <input formControlName="quantity" type="number" class="form-control" id="exampleInputPassword1" placeholder="0">
            </div>
            <div class="form-group">


                <label for="exampleInputPassword1">Categories</label>

                <select  formControlName="category"  class="form-select"  name="categories" id="categories">
                    <option disabled selected value > -- Select Category -- </option>

                    <option value=0>Health</option>
                    <option value=1>Home</option>
                    <option value=2>Sporting</option>
                    <option value=3>Children</option>
                    <option value=4>Style</option>
                    <option value=5>Other</option>
                </select>
            </div>
            <div class="form-group">
              <div class="err alert alert-danger" *ngIf="addForm.controls['picture'].errors?.['required'] && addForm.controls['picture'].touched && addForm.controls['picture'].dirty">
                Picture Is Required
              </div>
                <label for="exampleInputPassword1">Image URL</label>
                <input formControlName="picture"   type="text" class="form-control" id="exampleInput1" placeholder="Enter Image URL">
            </div>

        </form>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button  (click)="add()" type="button" class="btn btn-success"><i class="bi bi-plus-lg"></i> Add</button>
        </div>
      </div>
    </div>
  </div>
