
.center{ 
    img{
        width:300px
    } 
    
}
.btnn{
    padding: 10px 50px;
}
.des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
}
.bg-success{
    color: #fff;
}