<!-- ======= Footer ======= -->
<footer id="footer" class="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="" class="logo d-flex align-items-center">
              <img src="assets/img/logo.png" alt="">
              <h2>Reuse and Reduce</h2>
            </a>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sequi beatae vel debitis quae ex voluptatum placeat fugiat, odit officiis id omnis aliquid eveniet cumque quis quam cupiditate impedit officia!</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
  
          <div class="col-lg-2 col-6 footer-links">
            <h4>Site Map</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            </ul>
          </div>
  
          <div class="col-lg-2 col-6 footer-links">
            
            <h4>Contact Us</h4>
                          
            <p>Lorem st<br>Lorem Ipsum Sit Amet</p>
  
              Lorem city<br><br>
              <strong>Phone:</strong> +20 1110122023<br>
              <strong>Email:</strong> info@example.com<br>
  
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Reuse and Reduce</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->
  
  
  