<body class="d-flex justify-content-center align-items-center bg-light">
	<div class="card p-3 m-4 shadow-lg">
		<h2 class="text-center p-3">Payment Method</h2>
		<nav>
			<div class="nav nav-tabs mb-3 justify-content-center" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Points</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Paypal</button>
 			</div>
		</nav>
		<div class="tab-content p-3 border bg-light" id="nav-tabContent">
			<div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-points-tab">
                <div class="row d-flex justify-content-center">
                    <img src="assets/img/logo.png" style="width:100px ; margin-bottom: 20px;" alt="Paypal">
                </div>
                <div class="row lrow mt-4 mb-3">
                    <div class="col-sm-8 col-12"><h3>Grand Total:</h3></div>
                    <div class="col-sm-4 col-12"><h5><strong>{{totalPrice}}</strong></h5></div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <button style="width: 100%;" type="button" class="btn btn-primary btn-block" (click)="payLocal('cash')">Pay</button>
                    </div>
                </div>

			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-paypal-tab">
                <div class="row d-flex justify-content-center">
                    <img src="assets/img/pp.png" style="width:100px ; margin-bottom: 20px;" alt="Paypal">
                </div>
                <div class="row lrow mt-4 mb-3">
                    <div class="col-sm-8 col-12"><h3>Grand Total:</h3></div>
                    <div class="col-sm-4 col-12"><h5><strong>{{totalPrice}}</strong></h5></div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12">
                      <div id="mypaypalButtons" #payment></div>                    </div>
                </div>

			</div>

		</div>
	</div>
</body>
