<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/s1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/s2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/s3.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<!-- Top selling section -->

<section id="top-selling" class="py-5">
  <div class="container">
    <div class="title text-center p-3">
      <h2 class="position-relative d-inline-block">Top Selling</h2>
    </div>
    <div class="top-list row pb-5 mb-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 ">
        <!-- Card-->
        <div class="card rounded  border-0">
          <div class="card-body p-4"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-1_gthops.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Awesome product</a></h5>
            <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star"></i></li>
            </ul>
            <div class="row ">
              <h5 class="col-9 price font-weight-bold">EGP 99.00</h5>
              <button class="btn col-2" href=""><i class="bi bi-bag-plus-fill"></i></button>
            </div>
            <div>
              <button class="btn "><i class="fav bi fs-3" (click)="changeIcon()" 
                [ngClass]="status ? 'bi-heart-fill': 'bi-heart'" ></i> </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded  border-0">
          <div class="card-body p-4"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Awesome product</a></h5>
            <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star"></i></li>
            </ul>
            <div class="row ">
              <h5 class="col-9 price font-weight-bold">EGP 99.00</h5>
              <button class="btn col-2" href=""><i class="bi bi-bag-plus-fill"></i></button>
            </div>
            <div>
              <button class="btn "><i class="fav bi fs-3" (click)="changeIcon()" 
                [ngClass]="status ? 'bi-heart-fill': 'bi-heart'"></i> </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded  border-0">
          <div class="card-body p-4"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-3_rk25rt.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Awesome product</a></h5>
            <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
            </ul>
            <div class="row ">
              <h5 class="col-9 price font-weight-bold">EGP 99.00</h5>
              <button class="btn col-2" href=""><i class="bi bi-bag-plus-fill"></i></button>
            </div>
            <div>
              <button class="btn "><i class="fav bi bi-heart fs-3"></i> </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded  border-0">
          <div class="card-body p-4"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-4_vgfjy9.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Awesome product</a></h5>
            <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star-fill"></i></li>
              <li class="list-inline-item m-0"><i class="bi bi-star"></i></li>
            </ul>
            <div class="row ">
              <h5 class="col-9 price font-weight-bold">EGP 99.00</h5>
              <button class="btn col-2" href=""><i class="bi bi-bag-plus-fill"></i></button>
            </div>
            <div>
              <button class="btn"><i class="fav bi bi-heart fs-3" onclick="changeIcon(this)"></i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    </div>
  </section>
  