<header style="margin-top:-80px ;">
	<div class="container">
		<div class="profile">
			<div class="profile-image">
				<img src="{{userData.photoUrl!=null?userData.photoUrl:placeholder}}" alt="" style="width: 200px;height:200px;">
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name">{{userData.name}}</h1>
				<button class="btn profile-edit-btn"  data-bs-target="#exampleModal" data-bs-toggle="modal">Edit Profile</button>
			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{userData.balance}}</span> L.E</li>
 				</ul>
<br>
			</div>
			<div class="profile-bio">
                <h2 class="head1">User's Information</h2>
				<p><span class="profile-real-name">Email Address:</span> {{userData.email}}</p>
                <p><span class="profile-real-name">Address:</span> {{userData.address}}</p>
                <p><span class="profile-real-name">PhoneNumber:</span> {{userData.phoneNumber}}</p>

			</div>
      <button (click)='logout()' type="button" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase btnn">
        <span class="btn"></span> Log out <i class="bi bi-box-arrow-in-right"></i>
      </button>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" >Edit Profile Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Address:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="changesModel.address"  name="address">
            </div>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">PhoneNumber:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="changesModel.phoneNumber"  name="phoneNumber">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">PhotoUrl:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="changesModel.photoUrl"  name="PhotoUrl">
              </div>
          </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" (click)="update()" >Update</button>
        </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary"
           style="padding:5px;
            background-color:rgb(87, 87, 182);
            color:white">
            Update</button>
        </div>
      </div>
    </div>

