<div class="container ">
  <div class="row pb-5 mb-4">
    <ng-container *ngFor="let item of productList">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 mt-5 ">
        <!-- Card-->
        <div class="card rounded  border-0">
          <div class="card-body p-4">
            <img src="{{item.picture}}" alt="" class="card-img img-fluid d-block mx-auto mb-3">
            <h5 class="name">
              <a style="cursor:pointer ;"
               class="text-dark" [routerLink]="" (click)="gotoProduct('product',item.id)" > {{item.name}}</a>
            </h5>
            <p class="des small text-muted font-italic ">{{item.description}}</p>
              <h5 class="price font-weight-bold"><strong>EGP {{item.price}}</strong></h5>
              <div class="row">
                <button *ngIf="item.quantity>0" (click)=addtocart(item) class="mb-2 btn btn-success" href=""><i class="bi bi-bag-plus-fill"></i> Add to Cart</button>
                 <p *ngIf="item.quantity<=0" style="color: red;"><strong>OutOfStock</strong></p>
                <button *ngIf="isAuthenticated==true" (click)=addtocfav(item) class="btn btn-outline-danger "><i class="bi bi-heart"></i> Add to Favorites</button>
              </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
