.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h5{
        top: 0;
    }
}
.center{ 
    img{
        width:300px
    } 
    
}
.btnn{
    padding: 10px 50px;
}
.des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
}
.bg-danger{
    color: #fff;
}
.btn-outline-success{
    margin-left: 5px;
}